.container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-flow: row;
  /* position: fixed;  COMMENT BACK IN*/
  height: 80px;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.container-button {
  box-sizing: border-box;
  min-width: 60px;
  min-height: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  display: block;
  padding: 8px 12px;
  transition: transform 85ms ease-out;
  background-color: #3792cb;
  color: white;
  font-weight: 700;
  border-radius: 24px;
  font-size: 16px;
  border: none;
}

.container-button:active {
  transform: scale(.9457)
}
