.tack-background-color {
  display: flex;
  flex-direction: column wrap;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  height: auto;
}

.tack_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
  width: auto;
  padding: 20px;
  height: auto;
  border-radius: 32px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 6px 2px rgba(0,0,0,.2);
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
}

.tack_image > img {
  border-radius: 20px;
  height: 500px;
  width: auto;
}

.image-text-overlay-inactive {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  font-weight: bold;
}

.tack_container--right {
display: flex;
flex-direction: column;
}

.tack_top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tack_download-img {
  padding: 10px;
  margin-left: 20px;
  border-radius: 30px;
}

.tack_download-img:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

.tack_info{
  margin-left: 25px;
}

.tack_image-title {
  font-size: 20px;
  font-weight: bold;
  width: 350px;
  padding: 15px;
}

.tack_image-user-info {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 14px;
}

.tack_image-user-image {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

.tack_image-user-name {
  margin-left: 5px;
}

.more-like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 70px;
}

.tack-mosaic {
  columns: 4;
  align-items: center;
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
  margin-top: -240px;
  transform: scale(.65)
}

#more-like-text {
  margin-bottom: 35px;
  animation: fadein;
}

.tack-mosaic .mosaic-box img {
  cursor: zoom-in;
  border-radius: 24px;
}


.tack-mosaic .mosaic-box img:hover {
  filter: brightness(75%);
}
